@import "../../node_modules/bootstrap-less/bootstrap/index.less";

@color:#D82546;
@white:#FFFFFF;
@offwhite:#f9f9f9;
@grey:#CCCCCC;
@dark:#666;
@black:#0C0C0C;
@colorRGBA:rgba(227,93,90,0.6);
@darkRGBA:rgba(0,0,0,0.7);
@whiteRGBA:rgba(255,255,255,0.8);




.white{
	color:@white;
}
.offwhite{
	color:@offwhite;
}
.dark{
	color:@dark;
}
.black{
	color:@black;
}
.grey{
	color:@grey ;
}
.color{
	color:@color;
}

.white-bg{
	background:@white;
}
.offwhite-bg{
	background:@offwhite;
}
.dark-bg{
	background:@dark;
}
.black-bg{
	background:@black;
}
.grey-bg{
	background:@grey;
}
.color-bg{
	background:@color;
}
.color-trans-bg{
	background:@colorRGBA;
}
.dark-trans-bg{
	background:@darkRGBA;
}
.white-trans-bg{
	background:@whiteRGBA;
}


a {
    color: @color;
}
a:hover, a:focus {
    color: @color;
}
.intro a.explore:hover{
	color:@black;
}

.footnav li a{
	color:@black;
}

.mastnav ul li a:hover{
	color:@color;
}

.sub-nav a{
	border-color:@white;
}
.sub-nav a:hover{
	border-color:@color;
	background:@color;
	color:@white !important;
}
.main-nav:hover{
	color:@color !important;
}
.main-nav:visited{
	color:@white;
}
.pricing-block-inner{
	border-color:@white;
}
.pricing-block-inner:hover{
	border-color:@white;
	background-color:@white;
}

.news-block:hover * {
	color:@white;
}

.address-panel a:hover{
	color:@black;
}
.works-filter li a > span{
	color:@white;
}
.works-item{
	background-color:@black;

}
.works-item a{
	background:@whiteRGBA;
	color:@color;
}

.works-item-inner p > span{
	background:@color;
	color:@white;
}

.team-spec > h6 > span{
	background:@color;
	color:@white;
}
.mastnav .scroll{
	color:@white;
}

.thumb-title > h5 > span{
	background:@color;
	color:@white;
}

.main-nav.nav-highlight{
    color: @color !important;
}


.btn-nexus-color{
	border-color:@color;
    color: @color;
}
.btn-nexus-color:hover{
	border-color:@color;
    color: @white;
	background:@color;
}
