@font6: 'GreycliffCF-Regular', sans-serif;
@font7: 'GreycliffCF-Light', sans-serif;
@font8: 'GreycliffCF-Bold', sans-serif;

.font6{
	font-family: @font6;
}
.font7{
	font-family: @font7;
}
.font8{
	font-family: @font8;
}
