@import "app/less/color";

@color_1: #000;
@color_5: #fff;
@color_6: #444;
@color_7: #FFFFFF;
@color_8: #000000;
@color_9: #222;
@color_10: #CCCCCC;
@background_color_1: white;
@background_color_2: rgba(0,0,0,0.5);

.above {
  z-index: 100;
}

.below {
  z-index: -1;
}

body {
  overflow-x: hidden;
  font-weight: 300;
}
.noscroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.text-center {
  .img-responsive {
    display: inline-block;
  }
  >.img-responsive {
    display: block;
    display: inline-block;
  }
}

.animated {
  visibility: hidden;
}

.fullwidth {
  width: 100%;
  text-align: center;
}

.ease {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

p {
  color: @color_1;
  font-size: 14px;
  line-height: 21px;
}
h1 {
  margin-top: 0;
  font-weight: normal;
}
h2 {
  margin-top: 0;
  font-weight: normal;
}
h3 {
  margin-top: 0;
  font-weight: normal;
}
h4 {
  margin-top: 0;
  font-weight: normal;
}
h5 {
  margin-top: 0;
  font-weight: normal;
}
h6 {
  margin-top: 0;
  font-weight: normal;
}

.page-section {
  padding: 100px 0;
}

.separator-section {
  padding: 100px 0;
}

.add-top {
  margin-top: 120px;
}

.add-bottom {
  margin-bottom: 120px;
}

.add-top-half {
  margin-top: 60px;
}

.add-bottom-half {
  margin-bottom: 60px;
}

.add-top-quarter {
  margin-top: 30px;
}

.pad-top {
  padding-top: 120px;
}

.pad-bottom {
  padding-bottom: 120px;
}

.pad {
  padding-left: 20px;
  padding-right: 20px;
}

.inner-pad {
  padding: 120px;
}

.remove-top {
  margin-top: 0;
}

.remove-bottom {
  margin-bottom: 0;
}

.remove-pad-top {
  padding-top: 0;
}

.remove-pad-bottom {
  padding-bottom: 0;
}

.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.mob-center {
  >.img-responsive {
    display: inline-block;
  }
}

.no-gutter {
  margin-left: -15px !important;
}

.valign {
  position: relative;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  ul {
    margin-top: 80px;
  }
}

.absolute-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.masthead {
  top: 0;
  position: absolute;
  width: 100%;
  padding: 30px;
  z-index: 999;
  h6 {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.masthead.shadows {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.mastfoot {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footnav {
  list-style: none;
  padding: 0;
  margin-top: 28px;
  li {
    display: inline-block;
    a {
      &:after {
        content: '/';
        padding-left: 10px;
        padding-right: 10px;
        color: @color_1
      }
    }
    &:last-child {
      a {
        &:after {
          display: none;
        }
      }
    }
    a.hovered-blue {
      &:hover {
        color: @blue;
      }
    }
    a.hovered-red {
      &:hover {
        color: @red;
      }
    }
    a.hovered-yellow {
      &:hover {
        color: @yellow;
      }
    }
  }
}

.socialnav {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  li {
    display: inline-block;
    margin-right: 5px;
    a {
      opacity: 1;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}

.footlogo {
  margin-top: 19px;
  a {
    &:hover {
      opacity: 1;
    }
  }
}

.credits {
  padding: 15px 0;
  p {
    font-size: 11px;
    line-height: 19px;
    margin-bottom: 0;
  }
}

.mastnav {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 998;
  background-color: transparent;
  background-size: cover;
  ul {
    list-style: none;
    padding: 0;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    li {
      a {
        font-size: 30px;
        line-height: 48px;
        margin-bottom: 5px;
        margin-top: 30px;
        text-transform: uppercase;
      }
      a.hovered-blue {
        &:hover {
          color: @blue;
        }
      }
      a.hovered-red {
        &:hover {
          color: @red;
        }
      }
      a.hovered-yellow {
        &:hover {
          color: @yellow;
        }
      }
    }
  }
  li {
    margin-bottom: 20px;
  }
}

.sub-nav {
  padding: 10px;
  margin-bottom: 20px;
  display: none;
  a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 10px !important;
    line-height: 38px !important;
    padding: 6px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid;
  }
}

.call-to-action-inner {
  margin-top: 50px;
  margin-bottom: 20px;
}

.pagehead {
  h1 {
    font-size: 42px;
    line-height: 49px;
    font-weight: 200;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  h6 {
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    font-weight: 200;
  }
}
