section#intro.intro.intro-03.parallax
  .fullscreen-carousel.owl-carousel.owl-nav-sticky-wide.full-height
    .item.carousel-item.carousel-item-01.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='./images/index/tangram13.png')
          h1.font8.black we are a creative
            span.font7
              |  studio
    .item.carousel-item.carousel-item-02.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='./images/index/tangram11.png')
          h1.font8.black we imagine playfull
            span.font7
              |  universes
    .item.carousel-item.carousel-item-03.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='./images/index/tangram12.png')
          h1.font8.black we bring your project to
            span.font7
              |  life
