section#intro.intro.intro-03.parallax
  .fullscreen-carousel.owl-carousel.owl-nav-sticky-wide.full-height
    .item.intro-03-carousel-item.intro-03-carousel-item-01.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='./images/index/tangram13.png')
          h1.font5.black We are a creative studio
    .item.intro-03-carousel-item.intro-03-carousel-item-02.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='./images/index/tangram11.png')
          h1.font5.black We create websites.
    .item.intro-03-carousel-item.intro-03-carousel-item-03.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='./images/index/tangram12.png')
          h1.font5.black We bring innovation.
