section#intro.intro.intro-03.parallax
  .fullscreen-carousel.owl-carousel.owl-nav-sticky-wide.full-height
    .item.intro-03-carousel-item.intro-03-carousel-item-01.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='images/logo_boat.png')
          h1.font5.white We are a creative studio
    .item.intro-03-carousel-item.intro-03-carousel-item-02.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='images/logo.png')
          h1.font5.white We create websites.
          a.explore.font4.color.ease Explore more
    .item.intro-03-carousel-item.intro-03-carousel-item-03.text-center.fullheight
      .inner-overlay.pad-inner.fullheight
        .valign
          a(href='index.html')
            img.logo(alt='one', title='one', src='images/logo.png')
          h1.font5.white We bring innovation.
          a.explore.font4.color.ease Explore more
