section#wall.wall.container-fluid
  .row
    #effect.effects.clearfix
      .col-md-4.left.nopadding
        .left-box-1
          .img
            img(alt='one', title='Duck', src='images/index/duck_main_page_project.png')
            .overlay.white-trans-bg
              a.expand.font5(href='#') Duck
        .left-box-2.box
          .img
            img(alt='one', title='Doll Pram', src='images/index/doll_pram_main_page_project.png')
            .overlay.white-trans-bg
              a.expand.font5(href='#') Doll Pram
        .clearfix
        .left-box-btm.box
          .img
            img(alt='one', title='Clico', src='images/index/clico_main_page_project.png')
            .overlay.white-trans-bg
              a.expand.font5(href='#') Clico
      .col-md-4.mid.nopadding
        .box
          .img
            img(alt='one', title='Ice cream', src='images/index/ice_cream_main_page_project.png')
            .overlay.white-trans-bg
              a.expand.font5(href='#') Ice Cream
              hr.expand
              p.font5 Apis
        .clearfix
      .col-md-4.right.nopadding
        .right-box-1.box
          .img
            img(alt='one', title="Emile's wings", src='images/index/emile_wings_main_page_project.png')
            .overlay.white-trans-bg
              a.expand.font5(href='#') Emile's wings
        .right-box-2.box
          .img
            img(alt='one', title='Anderson', src='images/index/anderson_main_page_project.png')
            .overlay.white-trans-bg
              a.expand.font5(href='#') Anderson
        .right-box-3.box
          .img
            img(alt='one', title='Doll Furniture', src='images/index/doll_furniture_main_page_project.png')
            .overlay.white-trans-bg
              a.expand.font5(href='#') Doll Furniture
