section#wall.wall.container-fluid
  .row
    #effect.effects.clearfix
      .col-md-4.left.nopadding
        .left-box-1
          | {{>_project_item name='Pull Toy' brand='Mover Toys' url='images/index/duck_main_page_project.png'}}
        .left-box-2.box
          | {{>_project_item name='Andersen' brand='Mover Toys' url='images/index/anderson_main_page_project.png'}}
        .clearfix
        .left-box-btm.box
          | {{>_project_item name='Clico' brand='[ao] creative studio' url='images/index/clico_main_page_project.png'}}
      .col-md-4.mid.nopadding
        .box
          | {{>_project_item name='Ice cream' brand='Moover Toys' url='images/index/ice_cream_main_page_project.png' expand='double'}}
        .clearfix
      .col-md-4.right.nopadding
        .right-box-1.box
          | {{>_project_item name="Les Ailes d'Emile" brand='Hermès' url='images/index/emile_wings_main_page_project.png'}}
        .right-box-2.box
          | {{>_project_item name="DE" brand='KTM Advance' url='images/index/de_main_page_project.png'}}
        .right-box-3.box
          | {{>_project_item name="Furnitures" brand='Moover Toys' url='images/index/doll_furniture_main_page_project.png'}}
