section#filters
  .row
    article.col-md-12.trans-dark.text-center
      .projects-filters-inner
        ul.projects-filters.clearfix.font7
          li
            a#all.active(href='#', data-filter='*')
              span All
          li
            a(href='#', data-filter='.graphic-design')
              span Illustration
          li
            a(href='#', data-filter='.object')
              span Object
          li
            a(href='#', data-filter='.scenography')
              span Scenography
          li
            a(href='#', data-filter='.interface')
              span Interface
