section.pagehead.intro-01.parallax
  .container
    .row
      article.halfheight.text-left.col-md-6.col-md-offset-6
  section.container.works-filter-wrap
    .row
      article.col-md-12.trans-dark.text-center
        .works-filter-inner
          ul.works-filter.clearfix.font7
            li
              a#all.active(href='#', data-filter='*')
                span All
            li
              a(href='#', data-filter='.graphic-design')
                span Illustrations
            li
              a(href='#', data-filter='.objects')
                span Objects
            li
              a(href='#', data-filter='.scenography')
                span Scenography
            li
              a(href='#', data-filter='.interfaces')
                span Interfaces
