section#projects
  section#projects-container.projects-container.container.effects.clearfix
    .project-item.interface.graphic-design
      | {{>_project_item name='DE' brand='KTM Advance' url='images/portfolio/dubai_airport.png' expand='triple'}}
    .project-item.toys
      | {{>_project_item name='Ice cream set' brand='Moover Toys' href='ice_cream.html' url='images/portfolio/icecream.png' expand='triple'}}
    .project-item.scenography
      | {{>_project_item name='Fando' brand='Opera Montpellier' url='images/portfolio/opera_montpellier.png' expand='triple'}}
    .project-item.graphic-design.object
      | {{>_project_item name='Chauffage Urbain' brand='Apis' href='chauffage_urbain.html' url='images/portfolio/chauffage_urbain.png' expand='triple'}}
    .project-item.object
      | {{>_project_item name='Furnitures' brand='Moover Toys' href='doll_furnitures.html' url='images/portfolio/doll_furniture.png'}}
    .project-item.object.graphic-design.interface
      | {{>_project_item name='Clico' brand='[ao]' href='clico.html' url='images/portfolio/clico.png' expand='triple'}}
    .project-item.logos.object
      | {{>_project_item name='Pull toys' brand='Moover Toys' url='images/portfolio/duck.png' expand='triple'}}
    .project-item.object
      | {{>_project_item name='Cars' brand='Moover Toys' href='cars.html' url='images/portfolio/car.png'}}
    .project-item.object.graphic-design
      | {{>_project_item name='Andersen' brand='Moover Toys' href='andersen.html' url='images/portfolio/andersen.png'}}
    .project-item.interface.graphic-design
      | {{>_project_item name='Dubai' brand='KTM Advance' url='images/portfolio/dubai.png'}}
    .project-item.object
      | {{>_project_item name='Doll pram' brand='Moover Toys' href='doll_pram.html' url='images/portfolio/doll_pram.png' expand='triple'}}
    .project-item.interface
      | {{>_project_item name='Workshops' brand='Essec' url='images/portfolio/essec.png' expand='triple'}}
    .project-item.info.object.graphic-design
      | {{>_project_item name="Les ailes d'Emile" brand='Hermes' url='images/portfolio/lesailesdemiles.png'}}

