section.works-container-wrap.offwhite-bg
  section#works-container.works-container.container.white-bg.clearfix
    .works-item.works-item-one-fourth.zoom.toys
      img.img-responsive(alt='', title='', src='http://placehold.it/400x200')
      a.venobox(data-gall='portfolio-gallery', href='#')
        .works-item-inner.valign
          h3.black Lightbox Images
          p.white
            span.black-bg Category
    .works-item.works-item-one-half.info.graphic-design.toys
      img.img-responsive(alt='', title='', src='http://placehold.it/400x600')
      a(href='single-project.html')
        .works-item-inner.valign
          h3.black Project Info
          p.white
            span.black-bg Category
    .works-item.works-item-one-fourth.zoom.toys
      img.img-responsive(alt='', title='', src='http://placehold.it/400x200')
      a.venobox(data-gall='portfolio-gallery', href='images/works/01.jpg')
        .works-item-inner.valign
          h3.black Lightbox Images
          p.white
            span.black-bg Category
    .works-item.works-item-one-half.info.toys
      img.img-responsive(alt='', title='', src='http://placehold.it/400x400')
      a(href='single-project.html')
        .works-item-inner.valign
          h3.black Project Info
          p.white
            span.black-bg Category
    .works-item.works-item-one-fourth.zoom.toys
      img.img-responsive(alt='', title='', src='http://placehold.it/400x400')
      a.venobox(data-gall='portfolio-gallery', href='http://placehold.it/400x400')
        .works-item-inner.valign
          h3.black Lightbox Images
          p.white
            span.black-bg Category
    .works-item.large.works-item-one-fourth.zoom.toys.graphic-design.interfaces
      img.img-responsive(alt='', title='', src='http://placehold.it/800x400')
      a.venobox(data-gall='portfolio-gallery', href='http://placehold.it/400x400')
        .works-item-inner.valign
          h3.black Lightbox Images
          p.white
            span.black-bg Category
    .works-item.works-item-one-half.info.logos.graphic-design.interfaces
      img.img-responsive(alt='', title='', src='http://placehold.it/400x200')
      a(href='single-project.html')
        .works-item-inner.valign
          h3.black Project Info
          p.white
            span.black-bg Category
    .works-item.works-item-one-half.info.logos.ui
      img.img-responsive(alt='', title='', src='http://placehold.it/400x200')
      a(href='single-project.html')
        .works-item-inner.valign
          h3.black Project Info
          p.white
            span.black-bg Category
    .works-item.works-item-one-fourth.zoom.branding.web
      img.img-responsive(alt='', title='', src='http://placehold.it/400x400')
      a.venobox(data-gall='portfolio-gallery', href='http://placehold.it/400x400')
        .works-item-inner.valign
          h3.black Lightbox Images
          p.white
            span.black-bg Category
    .works-item.works-item-one-fourth.zoom.branding.web
      img.img-responsive(alt='', title='', src='http://placehold.it/400x400')
      a.venobox(data-gall='portfolio-gallery', href='http://placehold.it/400x400')
        .works-item-inner.valign
          h3.black Lightbox Images
          p.white
            span.black-bg Category
    .works-item.works-item-one-half.info.logos.ui
      img.img-responsive(alt='', title='', src='http://placehold.it/400x400')
      a(href='single-project.html')
        .works-item-inner.valign
          h3.black Project Info
          p.white
            span.black-bg Category
