section.works-container-wrap.white-bg-bg
  section#works-container.works-container.container.effects.clearfix
    .works-item.works-item-one-fourth.zoom.interface.graphic-design
      | {{>_project_item name='DE' brand='KTM Advance' url='images/portfolio/dubai_airport.png' expand='triple'}}
    .works-item.works-item-one-fourth.info.toys
      | {{>_project_item name='Ice cream set' brand='Moover Toys' href='ice_cream.html' url='images/portfolio/icecream.png' expand='triple'}}
    .works-item.works-item-one-fourth.zoom.scenography
      | {{>_project_item name='Fando' brand='Opera Montpellier' url='images/portfolio/opera_montpellier.png' expand='triple'}}
    .works-item.works-item-one-fourth.info.graphic-design.object
      | {{>_project_item name='Chauffage Urbain' brand='Apis' href='chauffage_urbain.html' url='images/portfolio/chauffage_urbain.png' expand='triple'}}
    .works-item.works-item-one-half.zoom.object
      | {{>_project_item name='Furnitures' brand='Moover Toys' href='doll_furnitures.html' url='images/portfolio/doll_furniture.png'}}
    .works-item.works-item-one-fourth.zoom.object.graphic-design.interface
      | {{>_project_item name='Clico' brand='[ao]' url='images/portfolio/clico.png' expand='triple'}}
    .works-item.works-item-one-half.info.logos.object
      | {{>_project_item name='Pull toys' brand='Moover Toys' url='images/portfolio/duck.png' expand='triple'}}
    .works-item.works-item-one-fourth.info.object
      | {{>_project_item name='Cars' brand='Moover Toys' href='cars.html' url='images/portfolio/car.png'}}
    .works-item.works-item-one-fourth.zoom.object.graphic-design
      | {{>_project_item name='Andersen' brand='Moover Toys' url='images/portfolio/andersen.png'}}
    .works-item.works-item-one-fourth.zoom.interface.graphic-design
      | {{>_project_item name='Dubai' brand='KTM Advance' url='images/portfolio/dubai.png'}}
    .works-item.works-item-one-half.info.object
      | {{>_project_item name='Doll pram' brand='Moover Toys' url='images/portfolio/doll_pram.png' expand='triple'}}
    .works-item.works-item-one-half.info.interface
      | {{>_project_item name='Workshops' brand='Essec' url='images/portfolio/essec.png' expand='triple'}}
    .works-item.works-item-one-fourth.info.object.graphic-design
      | {{>_project_item name="Les ailes d'Emile" brand='Hermes' url='images/portfolio/lesailesdemiles.png'}}

