.img
  img(alt='one', title='{{name}}', src='{{url}}')
  .overlay.white-trans-bg
    a.close-overlay.hidden
      | x
    div(class="expand {{expand}}")
      a.font8(href='{{href}}') {{name}}
      hr
      p.font7 {{brand}}
