section#triangles.absolute-overlay.fullwidth(class='{{index_class}}')
  .fullscreen-carousel.owl-carousel.owl-nav-sticky-wide.fullheight
    .item.carousel-item.triangle-background.text-center.fullheight
