section.white-bg.news-post-body
  .container
    .row
      article.col-md-12.text-center
        .inner-pad
          p.font7
            span.font8 Moover
            |  company asks to
            span.font8
              |  [ao] creative studio
            |  to create an Ice cream set for children 3+ years old and more. Children will play to be a shopper and create many ice cream. This set consists of wooden blocks of different shapes and different colors, children will have fun to assemble it to create the most craziest ice cream ever.
