section.news-post-head
  .container-fluid
    .row
      article.col-md-6.news-post-head-half.text-left(style={'background-color': '#e7545a'})
        .inner-pad
          h2.white.font7
            | become an ice cream seller, have fun and create your own ice cream
      article.col-md-6.news-post-head-half.text-left.white-bg
        .inner-pad
          h6.font8.black
            | Ice cream set
            span.font7 Moover Toys
          span.font7.black
            | March 2016
