section#intro.intro-03.parallax
  .fullscreen-carousel.owl-carousel.owl-nav-sticky-wide.full-height
    .item.intro-03-carousel-item.text-center.halfheight(style={'background-image': "url({{url}})"})
