---
title: '[ao] creative studio - About'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/_triangles.static.pug
    - app/partials/_thumbnail_item.static.pug
---
| {{>_triangles index_class='above changeable'}}
.container-fluid.nopadding
  section#intro
    .row
      article.quartheight.text-left.col-md-6.col-md-offset-6
      h2.font8.text-center
        | the studio
      p#meet-us.font7.text-center meet us and let's create together

  section#photo
    img.img-responsive(src='images/about/studio1.png')

  section.about-head
    .row
      article.col-md-6.text-left
        .inner-pad.font7
          h2.black.font8 Who we are?
          p
            | [ao] is a design studio founded by two product designers, Line de Carné and Camille Courlivant. Thoroughly grounded in a desire to experiencing the child world. [ao] innovates, reinventes and builds bridges between tradidionnal toys and vitual world.
          p
            | Creating funny objects, imagining playfull stories, playing with materials, experimenting news uses and staying openminded to bring new ideas to life.
          p
            | From illustration to object, to scenography or interactive design, [ao] help you to realize your projects and bring you the best

          p.font8.mail
            | Contact us at
            a(href='mailto:hello@aocreativestudio.com' target='blank')
              |  hello@aocreativestudio.com

      article.col-md-6.text-center
        .inner-pad
          .row
            .col-xs-6
              img(src='images/about/pictogram4.png')
              p.font7 product design
            .col-xs-6
              img(src='images/about/pictogram3.png')
              p.font7 illustration
          .row
            .col-xs-6
              img(src='images/about/pictogram1.png')
              p.font7 interaction design
            .col-xs-6
              img(src='images/about/pictogram2.png')
              p.font7 scenography

  section.about-partners
    .row
      article.col-md-12.text-center
        .inner-pad.font7.text-left
          h2.black.font8 Our partners
        #partners-carousel.owl-carousel.owl-nav-sticky-wide
          - var n = 1;
          while n <= 9
            | {{>_thumbnail_item url='images/about/partners#{n++}.png'}}
