---
title: '[ao] creative studio - About'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/portfolio/_filters.static.pug
    - app/partials/portfolio/_works.static.pug
    - app/partials/_project_item.static.pug
---
section.pagehead.triangle-background.parallax
  .wall.container-fluid.nopadding
    .row
      article.quartheight.text-left.col-md-6.col-md-offset-6
      h2.font8.text-center
        | the studio
      p.font7.text-center meet us and let's create together

    section#intro.intro-03.parallax
      .fullscreen-carousel.owl-carousel.owl-nav-sticky-wide.full-height
        .item.intro-03-carousel-item.text-center.fullheight(style={'background-image': "url(images/about/studio1.png)"})

    section.news-post-head
      .container-fluid
        .row
          article.col-md-6.news-post-head-half.text-left
            .inner-pad.font7
              h2.black.font8 Who we are?
              p
                | [ao] is a design studio founded by two product designers, Line de Carné and Camille Courlivant. Thoroughly grounded in a desire to experiencing the child world. [ao] innovates, reinventes and builds bridges between tradidionnal toys and vitual world.
              p
                | Creating funny objects, imagining playfull stories, playing with materials, experimenting news uses and staying openminded to bring new ideas to life.
              p
                | From illustration to object, to scenography or interactive design, [ao] help you to realize your projects and bring you the best
          article.col-md-6.news-post-head-half.text-center
            .inner-pad
              .row
                .col-sm-6.col-md-6
                  img(src='images/about/pictogram4.png')
                  p.font7 product design
                .col-sm-6.col-md-6
                  img(src='images/about/pictogram3.png')
                  p.font7 illustration
              .row
                .col-sm-6.col-md-6
                  img(src='images/about/pictogram1.png')
                  p.font7 interaction design
                .col-sm-6.col-md-6
                  img(src='images/about/pictogram2.png')
                  p.font7 scenography
    section.news-post-head
      .container-fluid
        article.text-left
          .inner-pad
            h2.black.font8 Our partners
            .row
              .col-sm-1.col-md-1
                img(src='images/about/orange@2x.png')
              .col-sm-3.col-md-3
                img(src='images/about/hermes@2x.png')
              .col-sm-2.col-md-2
                img(src='images/about/essec@2x.png')
              .col-sm-3.col-md-3
                img(src='images/about/opera_montpellier@2x.png')
              .col-sm-2.col-md-2
                img(src='images/about/apis@2x.png')

