---
title: '[ao] creative studio - Andersen'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/project/_intro.static.pug
    - app/partials/project/_info.static.pug
    - app/partials/_thumbnail_item.static.pug
    - app/partials/project/_body.static.pug
    - app/partials/_all_projects.static.pug
---
| {{>_intro url='images/projects/andersen/andersen_header.png'}}

| {{>_info color='#e77c36' description='have fun & build a castle for the little mermaid' name='Andersen' brand='Moover Toys' date='May 2015'}}

section.project-thumbs
  section#thumb-carousel-wrap.inner-section.thumb-carousel-wrap
    #thumb-carousel.owl-carousel.owl-nav-sticky-wide
      - var n = 1;
      while n <= 7
        | {{>_thumbnail_item url='images/projects/andersen/andersen#{n++}.png'}}

| {{>_body text='We designed for Moover toys a set of wooden blocks inspired by the danish novel "the little mermaid" written by HC Andersen. Using a silk-screen printing process on the wooden blocks we draw a colorful universe.'}}

| {{>_all_projects}}
