---
title: '[ao] creative studio - Andersen'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/project/_intro.static.pug
    - app/partials/project/_info.static.pug
    - app/partials/_thumbnail_item.static.pug
    - app/partials/project/_body.static.pug
    - app/partials/_all_projects.static.pug
---
| {{>_intro url='images/projects/andersen/andersen_header.png'}}

| {{>_info color='#61397b' description='missing' name='Andersen' brand='Moover Toys' date='missing'}}

section.project-thumbs
  section#thumb-carousel-wrap.inner-section.thumb-carousel-wrap
    #thumb-carousel.owl-carousel.owl-nav-sticky-wide
      - var n = 1;
      while n <= 7
        | {{>_thumbnail_item url='images/projects/andersen/andersen#{n++}.png'}}

| {{>_body text='missing'}}

| {{>_all_projects}}
