---
title: '[ao] creative studio - Chauffage urbain'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/project/_info.static.pug
    - app/partials/project/_thumbnail_item.static.pug
    - app/partials/project/_body.static.pug
    - app/partials/_all_projects.static.pug
---
section.pagehead.chauffage-urbain.parallax.cover.halfheight
| {{>_info color='#0273bb' description='have fun to understand how heating works in the city' name='Urban heating' brand='Apis' date='May 2015'}}

section.project-thumbs
  section#thumb-carousel-wrap.inner-section.thumb-carousel-wrap
    #thumb-carousel.owl-carousel.owl-nav-sticky-wide
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain1.png'}}
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain2.png'}}
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain3.png'}}
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain4.png'}}
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain6.png'}}
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain7.png'}}
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain8.png'}}
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain9.png'}}
      | {{>_thumbnail_item url='images/projects/chauffage_urbain/chauffage_urbain10.png'}}
| {{>_body text='Urban heating is a pedagogical toy create and build by APIS, we imagined this game for European Sustainable Development Week.
This game allows to understand the concept of heating in the city and make aware of the important of sustainable development. At the head
 of the control center the children are invited to start the factories and produce the quantities of heating and hot water needed.'}}
| {{>_all_projects}}
