---
title: '[ao] creative studio - Essec'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/project/_intro.static.pug
    - app/partials/project/_info.static.pug
    - app/partials/_thumbnail_item.static.pug
    - app/partials/project/_body.static.pug
    - app/partials/_all_projects.static.pug
---
| {{>_intro url='images/projects/essec/essec_header.png'}}

| {{>_info color='#283245' description='discover design thinking & ux design' name='UX Design' brand='Essec' date='May 2016'}}

section.project-thumbs
  section#thumb-carousel-wrap.inner-section.thumb-carousel-wrap
    #thumb-carousel.owl-carousel.owl-nav-sticky-wide
      - var n = 1;
      while n <= 5
        | {{>_thumbnail_item url='images/projects/essec/essec#{n++}.png'}}

| {{>_body text="We drove three groups of students from ESSEC Business School in the conception of a service application for their Master final project. As mentors, we helped them to complete the UX part of their service and define the best application they need. We've built scenarii, defined personas, and made interactive mockups with them to test their service with users."}}

| {{>_all_projects}}
