---
title: '[ao] creative studio - Essec'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/project/_intro.static.pug
    - app/partials/project/_info.static.pug
    - app/partials/project/_thumbnail_item.static.pug
    - app/partials/project/_body.static.pug
    - app/partials/_all_projects.static.pug
---
| {{>_intro url='images/projects/essec/essec_header.png'}}

| {{>_info color='#283245' description='discover design thinking & ux design' name='UX Design' brand='Essec' date='May 2016'}}

section.project-thumbs
  section#thumb-carousel-wrap.inner-section.thumb-carousel-wrap
    #thumb-carousel.owl-carousel.owl-nav-sticky-wide
      - var n = 1;
      while n <= 5
        | {{>_thumbnail_item url='images/projects/essec/essec#{n++}.png'}}

| {{>_body text='The Business School ESSEC asks to [ao] creative studio to drive three groups of students in the conception of an app for their Final Project. We have made brainstorming, building scenario, thinking about personae, making mockup together. As mentors, we have help them to complete the UX design part of their app. [ao] made also the UI design of each project to taste the app as if it was real.'}}

| {{>_all_projects}}
