---
title: '[ao] creative studio - Ice cream set'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/project/_info.static.pug
    - app/partials/project/_thumbnail_item.static.pug
    - app/partials/project/_body.static.pug
    - app/partials/_all_projects.static.pug
---
section.pagehead.single-project-01.parallax.cover.halfheight
| {{>_info}}

section.project-thumbs
  section#thumb-carousel-wrap.inner-section.thumb-carousel-wrap
    #thumb-carousel.owl-carousel.owl-nav-sticky-wide
      | {{>_thumbnail_item url='images/projects/ice_cream/icecream1.png'}}
      | {{>_thumbnail_item url='images/projects/ice_cream/icecream2.png'}}
      | {{>_thumbnail_item url='images/projects/ice_cream/icecream3.png'}}
      | {{>_thumbnail_item url='images/projects/ice_cream/icecream4.png'}}
      | {{>_thumbnail_item url='images/projects/ice_cream/icecream5.png'}}
      | {{>_thumbnail_item url='images/projects/ice_cream/icecream6.png'}}
      | {{>_thumbnail_item url='images/projects/ice_cream/icecream7.png'}}
| {{>_body}}
| {{>_all_projects}}
