---
title: '[ao] creative studio - Portfolio'
_options:
  layout: app/layouts/main.static.pug
  partials:
    - app/partials/portfolio/_filters.static.pug
    - app/partials/portfolio/_projects.static.pug
    - app/partials/_triangles.static.pug
    - app/partials/_project_item.static.pug
---
| {{>_triangles index_class='below'}}
.wall.container-fluid.nopadding
  .row
    article.quartheight.text-left.col-md-6.col-md-offset-6
    h2.font8.text-center
      | projects
  | {{>_filters}}
  | {{>_projects}}
