.intro-03-carousel-item{
    height: 100%;
}
.intro-03 .inner-overlay{
    background-color: rgba(0,0,0,0.05);
}
.intro-caption{
    padding: 60px;
}

.intro h1{
    margin-top: 20px;
    font-size: 28px;
    line-height: 49px;
    margin-bottom: 5px;
    margin-bottom: 20px;
}
.intro a.explore{
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    cursor: pointer;
}

.intro-03-carousel-item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
