.left-box-1  {
  width:  50%;
  float:  left;
}

.left-box-2  {
  width:  50%;
  float:  right;
}

.left-box-btm  {
  width:  100%;
}

.left-box-1 img,  .left-box-2 img,  .left-box-btm img  {
  width:  100%;
}

.mid-box-1  {
  width:  50%;
  float:  left;
}

.mid-box-2  {
  width:  50%;
  float:  right;
}

.mid-box-1 img  {
  width:  100%;
  height:  100%;
}

.mid-box-2 img  {
  width:  100%;
  height:  100%;
}

.right-box-1  {
  width:  100%;
}

.right-box-2  {
  width:  50%;
  float:  left;
}

.right-box-3  {
  width:  50%;
  float:  right;
}

.right-box-3 img,  .right-box-2 img,  .right-box-1 img  {
  width:  100%;
}

.effects  {
}

.effects .img  {
  position:  relative;
}

.effects .img img  {
  display:  block;
  margin:  0;
  padding:  0;
  max-width:  100%;
  height:  auto;
}

.overlay  {
  z-index:  10
}

.effects .overlay  {
  position:  absolute;
  display:  block;
  top:  0;
  bottom:  0;
  left:  0;
  right:  0;
  opacity:  0;
  -webkit-transition:  all 0.5s;
  -moz-transition:  all 0.5s;
  -ms-transition:  all 0.5s;
  -o-transition:  all 0.5s;
  transition:  all 0.5s;
}

.effects .overlay .expand {
  position:  absolute;
  left:  0;
  right:  0;
  top:  0;
  opacity:  0;
  -webkit-transition:  all 0.5s;
  -moz-transition:  all 0.5s;
  -ms-transition:  all 0.5s;
  -o-transition:  all 0.5s;
  transition:  all 0.5s;
  display:  block;
}

.expand a {
  margin-left:  20px;
  letter-spacing:  3px;
  text-align:  center;
  color:  #000;
  line-height:  50px;
  font-size:  18px;
}

.expand hr {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 10px;
  width: 100px;
  height: 5px;
  background-color: black;
}

.expand p {
  margin-left: 20px;
  font-size: 18px;
  text-align: left;
}

.effects .img  {
  overflow:  hidden
}

.effects .img.hover .overlay  {
  opacity:  1
}

.effects .img.hover .overlay .expand {
  top:  40%;
  opacity:  1;
}

.effects .img.hover .overlay .expand.double {
  .effects .img.hover .overlay .expand;
  top: 70%;
}

.discover  {
  background-color:  #282f35;
  padding:  70px 0;
  text-align:  center;
}
