article.text-center.col-md-4
  p
    | Follow us
  ul.socialnav
    li
      a.ease(href='https://fr.pinterest.com/aocreativestudi/', target='blank')
        img(alt='Pinterest', title='Pinterest', src='images/footer/instagram_picto.png')
    li
      a.ease(href='#', target='blank')
        img(alt='Facebook', title='Facebook', src='images/footer/instagram_picto.png')
    li
      a.ease(href='https://www.instagram.com/aocreativestudio/?hl=fr', target='blank')
        img(alt='Instagram', title='Instagram', src='images/footer/instagram_picto.png')
