article.text-right.col-md-5
  ul.footnav.font7
    li
      a.black.ease.hovered-blue(href='home.html') Home
    li
      a.black.ease.hovered-red(href='portfolio.html') Portfolio
    li
      a.black.ease.hovered-yellow(href='about.html') About
