article.text-right.col-md-5
  ul.footnav.font5
    li
      a.ease(href='home.html') Home
    li
      a.ease(href='portfolio.html') Portfolio
    li
      a.ease(href='about.html') About
    li
      a.ease(href='contact.html') Contact
