article.text-left.col-md-6
  ul.socialnav.font5
    li
      a.ease(href='https://fr.pinterest.com/aocreativestudi/', target='blank')
        img(alt='Pinterest', title='Pinterest', src='images/social/pinterest_picto.png')
    li
      a.ease(href='#', target='blank')
        img(alt='Facebook', title='Facebook', src='images/social/facebook_picto.png')
    li
      a.ease(href='https://www.instagram.com/aocreativestudio/?hl=fr', target='blank')
        img(alt='Instagram', title='Instagram', src='images/social/instagram_picto.png')
