---
_options:
  partials:
    - app/partials/layouts/main/_head.static.pug
    - app/partials/layouts/main/_navigation_menu.static.pug
    - app/partials/layouts/main/_header.static.pug
    - app/partials/layouts/main/_projects.static.pug
    - app/partials/layouts/main/_footer.static.pug
    - app/partials/layouts/main/footer/_social_networks.static.pug
    - app/partials/layouts/main/footer/_navigation.static.pug
    - app/partials/layouts/main/footer/_footer_logo.static.pug
    - app/partials/layouts/main/_credits.static.pug
---

doctype html
html(lang='en')
  | {{>_head}}
  body
    section#mastwrap.sliding
      | {{>_navigation_menu}}
      | {{>_header}}
      | {{content}}
      | {{>_projects}}
      | {{>_footer}}
      | {{>_credits}}
    script(src='app.js')
    script(type='text/javascript').
      require('javascripts/custom/main.js');

