header#masthead.masthead.ease.parallax
  .row
    article.col-md-3
      a(href='/')
        img.logo(alt='one', title='one', src='images/header/logo_head.png')
    article.text-right.col-md-9
  .toggle-menu-wrap
    a#toggle-menu.toggle-menu-hidden
      div
        span.black-bg.top
        span.black-bg.middle
        span.black-bg.bottom
