header#masthead.masthead.ease.parallax.visible-lg
  .row
    article.text-left.col-md-3
      a(href='/')
        img.logo(alt='one', title='one', src='images/logo_head.png')
    article.text-right.col-md-9
  .toggle-menu-wrap
    a#toggle-menu.toggle-menu-hidden
      div
        span.white-bg.top
        span.white-bg.middle
        span.white-bg.bottom
