nav.mobile-nav.hidden-lg
  ul.slimmenu
    li
      a(href='index.html') home
    li
      a(href='portfolio.html') portfolio
    li
      a(href='about.html') about
    li
      a(href='contact.html') contact
nav.mastnav.fullheight.text-center
  .valign
    ul
      li
        a.black.ease(href='#') home
      li
        a.black.ease(href='#') portfolio
      li
        a.black.ease(href='about.html') about
      li
        a.black.ease(href='contact.html') contact
