nav.mobile-nav.hidden-lg
  ul.slimmenu
    li
      a(href='index.html') home
    li
      a(href='portfolio.html') portfolio
    li
      a(href='about.html') about
    li
      a(href='contact.html') contact
nav.mastnav.fullheight.text-center
  .valign
    ul
      li.trigger-sub-nav
        a.main-nav.white.ease(href='#') home
      li.trigger-sub-nav
        a.main-nav.white.ease(href='#') portfolio
      li
        a.white.ease(href='about.html') about
      li
        a.white.ease(href='contact.html') contact
