nav.mastnav.fullheight.text-center.font7.above
  .valign
    ul
      li
        a.black.ease.hovered-blue(href='/') home
      li
        a.black.ease.hovered-red(href='portfolio.html') portfolio
      li
        a.black.ease.hovered-yellow(href='about.html') about
