nav.mastnav.fullheight.text-center.font7
  .valign
    ul
      li
        a.black.ease.hovered-blue(href='about.html') home
      li
        a.black.ease.hovered-red(href='about.html') portfolio
      li
        a.black.ease.hovered-yellow(href='about.html') about
