section.call-to-action.call-to-action-01.parallax
  .color-trans-bg
    .container
      .row
        article.text-center.col-md-12
          .call-to-action-inner
            a.btn.btn-nexus.btn-nexus-white.font5(href='portfolio.html') View All Projects
